.container{
            background: #CCC;
            height: 100vh;
            width: 100%;
            position: relative;
            overflow: hidden;
        }
        .header{
            width: 100%;
            max-width: 100%;
            background:rgba(0,0,0,0.4);
            padding: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .headerBtns button{
            background: #FFF;
            padding: 8px 12px;
            border: none;
            border-radius: 6px;
            font-weight: 500;
            font-size: 15px;
        }
        .headerBtns button:hover{
            background: #CCC;
            transition: ease solid 1s;
            cursor: pointer;
        }

        .modal-window{
            padding: 10px;
            background: #FFF;
            position: absolute;
            top: calc(100% /2 - 100px);
            margin: auto 20px;
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            z-index: 9;
        }


        .modal-close{
            border: none;
            outline: none;
            font-size: 14px;
            cursor: pointer;
        }

        .modal-window h1, .modal-window p{
            text-align: left;
            width: 100%;
            line-height: 22px;
        }

        .hidden{
            display: none;
        }

        .overlay{
               width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                position: absolute;
                z-index: 8;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
        }

    